div.button_form {
  display: flex;
  justify-content: center;
}
.button_form button {
  flex-basis: 40%;
  padding: 15px 0;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid #696773;
  transition: background-color .2s, border-color .2s, color .2s;
}
.button_form button:hover{
  background-color: #819595;
  border-color: #819595;
  color: white;
}